.list-items{
    width: 50%;
    height: auto;
    ul{
      padding: 1rem;
        li{
          list-style: none;
          margin: 20px;
          font-size: 25px;
          letter-spacing: 1px;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          border: 2px solid rgb(146, 188, 230);
          padding: 10px;
          border-radius: 20px;
          background-color: rgb(146, 188, 230);
          color: white;
          &:hover{
            cursor: pointer;
          }
        }
    }
}