
ul {
       margin: 0;
       padding: 0;
       display: flex;
       flex-direction: column;
       background-color: rgb(90, 169, 185);
       width: 50%;
       border-radius: 10px;

       li {
           padding: 10px;
           margin: 10px;
           list-style: none;
           font-size: 20px;
           color: white;

           &:hover {
               cursor: pointer;
           }
       }
   }